body{
  margin: 0em;
  padding: 0em;
}
h1{
  padding: 5px;
  text-align: center;
}
#h_img{
  height: 620px;
  width: 100vw;
  margin: 0em;
}
#c_img{
  height: 400px;
  width: 100vw;
  margin: 0em;
}
#mouse{
  animation: move 3s infinite;
  -webkit-animation: move 3s infinite;
}
@keyframes move {
  0%,35%,70%,100% {transform: translateY(0);}
  20% {transform: translateY(40px)}
  50% {transform: translateY(20px)}
  80% {transform: translateY(-10px)}
}

.container{
  margin: 0em;
  
}
.welcome{
  position: relative;
}
.content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white ;
  padding-right: 40px;
}
.about{
  text-align: center;
  height: 300px;
  margin: auto;
  padding-top: 40px;
  padding-left: 130px;
  width: 80%;
}
.services{
  padding: 40px;
  margin: auto;
  text-align: center;
  padding-left: 130px;
}
.service{
  float: left;
  padding-right: 90px;
  padding-left: 90px;
}
.portfolio{
  padding-left: 130px;
}
.imgp{
  padding: 20px;
  
}
.inputText{
  padding-right: 40px;
}
.submit{
  text-align: left;
  padding: 50px;
}
.c_img{
  height: 300px;
}
footer{
  text-align: center;
  margin-top: 15px;
}
footer img{
  padding: 10px;
}
.website{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-style:solid;
  padding: 5px;
  color:black;
  background-color: blanchedalmond;
  border-radius: 15%;
}