body{
  margin: 0em;
  padding: 0em;
}
h1{
  padding: 5px;
  text-align: center;
}
#h_img{
  height: 620px;
  width: 100vw;
  margin: 0em;
}
#c_img{
  height: 300px;
  width: 100vw;
  margin: 0em;
}
.container{
  margin: 0em;
  
}
.welcome{
  position: relative;
}
.content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white ;
  padding-right: 40px;
  /* font-weight:bold ; */
}
.about{
  text-align: center;
  height: 300px;
  margin: auto;
  padding-top: 40px;
  padding-left: 130px;
  width: 80%;
}
.services{
  padding: 40px;
  margin: auto;
  text-align: center;
  padding-left: 130px;
}
.service{
  float: left;
  padding-right: 90px;
  padding-left: 90px;
}
.portfolio{
  padding-left: 130px;
}
.imgp{
  padding: 20px;
  
}
.inputText{
  padding-right: 40px;
}
.submit{
  text-align: left;
  padding-left: 40px;
}
.c_img{
  height: 300px;
}
footer{
  text-align: center;
  margin-top: 15px;
}
footer img{
  padding: 10px;
}
.web1:hover{
  opacity: 0.4;
} 
.web2:hover{
  opacity: 0.4;
} 
.website1:hover{
  opacity: 1;
}
.website2:hover{
    opacity: 1;
}
.web3:hover{
  opacity: 0.4;
} 
.website3:hover{
  opacity: 1;
}
.web4:hover{
  opacity: 0.4;
} 
.website4:hover{
  opacity: 1;
}
.website{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-style:solid;
  padding: 5px;
  color: black;
  background-color: blanchedalmond;
}